
.dark-mode-toggle{
    margin-inline-start: 30px;
    padding: 6px;
    border: 0;
    border-radius: 50%;
    background-color:var(--primaryTwo-color);
}

svg{
    height: 35px;
    width: 35px;
}

@media only screen and (max-width: 991px) {
    .dark-mode-toggle {
        
    }
  }
  

